* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #d7d9dd;
    min-height: 100vh;
    min-width: 100vw;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100vw;
    background-color: #285238;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title h1 {
    font-size: 3rem;
    color: #ffffff;
}

.tasks-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 10vh;
    width: 90vw;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.tasks-header h2 {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.options {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    gap: 0.5rem;
}

.add-task,
.categories {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.no-tasks-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 90vw;
    margin: 0.5rem auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.no-tasks-found-container span {
    font-size: 1.5rem;
    font-weight: bold;
}

.add-category-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1rem;
    margin-top: 1rem;
}

#add-task-btn,
.add-category-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background-color: #285238;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.6rem;
    font-size: 0.7rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#add-task-btn:hover,
.add-category-btn:hover,
.add-category-submit-btn:hover,
.edit-category-submit-btn:hover {
    background-color: #21402d;
}

#categories-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background-color: rgb(31, 136, 27);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.6rem;
    font-size: 0.7rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.filter select {
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: #000301bb;
    color: white;
    transition: opacity 0.2s ease-in-out;
}

.filter select:hover {
    opacity: 0.8;
}

.task {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 90vw;
    margin: 0.5rem auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 550px) {
    .task {
        grid-template-columns: repeat(4, 1fr);
        height: 12vh;
        width: 97vw;
    }

    .tasks-container {
        width: 97vw;
    }


    .task-checkbox-title-container {
        gap: 0.3rem;
    }

    .task-actions-container,
    .category-actions-container {
        gap: 0.4rem;
    }

    .add-task-form-container {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 430px) {
    #add-task-btn,
    #categories-btn,
    .filter select {
        font-size: 0.5rem;
    }

    .task {
        font-size: 0.8rem;
    }

    .task-checkbox-title-container {
        gap: 0.2rem;
    }

    .task-actions-container,
    .category-actions-container {
        gap: 0.2rem;
    }
}

.task-checkbox-title-container {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.task-priority-container {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.task-priority-color {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 0.7rem;
}

.task-category-container {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.task-due-date-container {
    grid-column: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.task-actions-container,
.category-actions-container {
    grid-column: 5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.8rem;
    margin-right: 1rem;
}

.edit-btn,
.category-edit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: #5a645e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn,
.category-delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: #c90a0aff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover,
.category-edit-btn:hover,
.category-delete-btn:hover {
    opacity: 0.8;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 100;
    transition: opacity 0.3s ease;
}

.overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

.add-task-form-container {
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 40vw;
    min-height: 300px;
    min-width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#add-task-form,
#edit-task-form,
#edit-category-form {
    margin-top: 1.5rem;
}

.add-task-form-container form,
.add-category-form-container form,
.edit-category-form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 50vh;
    margin-left: 2rem;
    margin-right: 2rem;
}

.add-category-form-container,
.edit-category-form-container {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 40vw;
    min-height: 300px;
    min-width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.category-container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 40vw;
    min-height: 300px;
    min-width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.category-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.categories-grid-container {
    display: grid;
    grid-template-rows: repeat(var(--rows), 5vh);
    gap: 1rem;
    height: 50vh;
    margin: 2rem 1rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #285238 #f5f5f5;
}

.category-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0.5rem 0.6rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.form-title-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.add-category-form-container .form-title-container {
    margin-top: 2rem;
}

.input-box {
    width: 100%;
}

.form-title-container input{
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem 0.6rem;
    font-size: 1rem;
    outline: none;
}

.form-title-container label {
    font-size: 1.3rem;
    font-weight: bold;
}

.form-title-container {
    margin-bottom: 1rem;
}

.form-priority-container,
.form-category-container,
.form-due-date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.form-priority-container {
    margin-top: 0;
}

.form-priority-container select,
.form-category-container select,
.form-due-date-container input[type="date"] {
    width: 60%;
    padding: 0.5rem 0.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-due-date-container input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.form-due-date-container {
    margin-bottom: 2rem;
}

.form-submit-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.add-category-form-container .form-submit-btn-container {
    margin-top: 0;
}

.add-task-submit-btn,
.add-category-submit-btn,
.edit-category-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background-color: #285238;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 25%;
    min-width: 150px;
    font-weight: bold;
    font-size: 1rem;
}

.add-task-submit-btn {
    margin-bottom: 2rem;
}

.add-task-submit-btn:hover {
    background-color: #21402d;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #888;
}

.form-select {
    cursor: pointer;
}